@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* General Styles */
body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
}

/* Header Styles */
#main-header {
  background-color: black;
  color: white;
  padding: 16px 0;
  text-align: center;
}

.header-title {
  margin: 0;
}

.nav-list {
  padding: 0;
  list-style: none;
}

.nav-list li a {
  color: white;
  text-decoration: none;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}
/* Main Content Styles */
#content {
  max-width: 800px;
  margin: 10px auto;
}

/*p background styling */
.post {
  background-color: white;
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}
/*p styling */
.post-content {
  margin: 0;
}

/* Footer content */
#bottom {
  background-color: black;
  color: white;
  text-align: center;
  padding: 0px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-list li {
    display: block;
    margin: 0;
  }

  #content {
    padding: 0;
  }
}
