/* Imported Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Body Style */
body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
}

/* Header Styles */
#main-header {
  background-color: black;
  color: white;
  margin-bottom: 5000px;
  top: 0;
  text-align: center;
  position: fixed;
  width: 100%;
}

.header-title {
  margin: 0;
}

.nav-bar {
  padding: 0;
}

.nav-bar li a {
  color: white;
  text-decoration: none;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

/* Main Content Styles */
#content {
  max-width: 800px;
  margin: 100px auto;
  padding: 0px;
  text-align: center;
}

/* Post Background Styling */
.post {
  background-color: white;
  margin-bottom: 0px;
  padding: 10px;
}

.image {
  padding: 0;
  margin-top: 10px;
  border-radius: 10px;
}

/* Footer content */
#bottom {
  background-color: black;
  color: white;
  text-align: center;
  padding: 0px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-list li {
    display: inline;
    margin: 5px;
  }

  #content {
    padding: 0;
  }

  .image {
    padding: 0;
  }
}
